/artifacts
python_agent/artifacts/
python_agent/__pycache__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
.Python

build/
frontend/node_modules
/node_modules/
/demo-app/node_modules/
**/python_agent/node_modules/
**/**/DemoAppGenerated/node_modules/@typescript-eslint/eslint-plugin/
